# `npx auth` to generate
AUTH_SECRET=
AUTH_SPOTIFY_ID=
AUTH_SPOTIFY_SECRET=

GENIUS_CLIENT_ID=
GENIUS_CLIENT_SECRET=
GENIUS_ACCESS_TOKEN=

OPENAI_API_KEY=
OPENAI_BASE_URL=

KV_URL=
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=